.App {
  text-align: center;
}
table,tr,th,td{
  border: 2px solid black;
  border-collapse: collapse;
}
.filter-table-container {
  margin: 20px;
}

/* .input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
} */

.input-item  {
  display: flex;
  align-items: center; 
   margin-bottom: 10px; 
}

.input-item label {
  width: 500px; /* Fixed width for labels */
  margin-right: 10px;
   font-weight: bold;
}



.filter-select {
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.star {
  color: green;
  font-weight: bold;
}

.dual {
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000; /* Dual effect */
  font-family: monospace;
}

a{
  text-decoration:none;
  margin:30px;
  /* background-color: green; */
  color:white
}
.inputs{
  display: flex;
  margin-bottom:10px;
  background-color:red;
}
.inputs label{
  width: 100px;
  text-align: left;
  font-weight:bold;
}
label{
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
